<h3>Forks of <%= @recipe.title %></h3>
<div id="forks">
  <% @recipe.forked_recipes.each do |recipe_fork| %>
    <div class="fork">
      Forked as <%= link_to recipe_fork.title, recipe_fork %>,
      by <%= link_to recipe_fork.user.username, user_path(recipe_fork.user) %>
    </div>
  <% end %>
</div>

<%= link_to 'Back', @recipe %>
