<% unless params[:search_terms].nil? or params[:search_terms].empty? %>
  <div id="snapshot">Found <%= pluralize(@found_items.count, "match") %> for
  "<%= params[:search_terms] %>"</div>
  <%= render('shared/list', items: @found_items) if @found_items %>
<% end %>
