<strong>
  <%= link_to pluralize(recipe.forks.count, "fork"), recipe_forks_path(recipe) %>
</strong>
<div><%= link_to 'Fork this recipe', fork_recipe_path(@recipe), method: :post, class: "btn btn-default btn-sm" %></div>
