<% cache(recipe) do %>
  <%= link_to truncate(recipe.title, length: 80), recipe %>
  <div class="description">
    <% if recipe.notes.nil? or recipe.notes.empty? %>
      <em>No description</em>
    <% else %>
      <%= truncate(recipe.notes, length: 120) %>
    <% end %>
  </div>
  <div class="stats">
    <%= link_to pluralize(recipe.forks_count, "fork"), recipe_forks_path(recipe) %>
    |
    <%= link_to pluralize(recipe.reload.stars_count, "star"), recipe_stars_path(recipe) %>
  </div>
<% end %>
