<% if @user %>
  <% cache(cache_key_for_stars_of @user) do %>
    <h3>Recipes starred by <%= link_to @user.username, @user %></h3>
    <%= render 'shared/list', items: @user.starred_recipes %>
  <% end %>
<% elsif @recipe %>
  <% cache(cache_key_for_stars_of @recipe) do %>
    <h3>Users starring <%= link_to @recipe.title, @recipe %></h3>
    <%= render 'shared/list', title: "Users starring #{@recipe.title}", items: @recipe.starring_users %>
  <% end %>
<% end %>
