<% if user_signed_in? %>
  <div id="current_user">
    <p>Currently signed in as <%= current_user.email %></p>
    <p>Would you like to <%= link_to 'sign out?', sign_out_path %></p>
  </div>
<% end %>