/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

// change navbar before import
$navbar-default-bg: adjust_hue(#008732, -3);
$navbar-default-color: darken(adjust_hue($navbar-default-bg, -5), 15%);
$navbar-default-link-color: #fff;
$navbar-default-brand-color: #fff;
$navbar-default-link-hover-color: #fff;
$navbar-default-brand-hover-color: $navbar-default-link-hover-color;
$navbar-height: 44px;
$navbar-default-toggle-hover-bg: darken($navbar-default-bg, 7%);
$navbar-default-toggle-border-color: #fff;
$navbar-default-toggle-icon-bar-bg: #fff;

// change page elements before import
$btn-success-bg: $navbar-default-bg;
$btn-success-border: darken(adjust_hue($btn-success-bg, -10), 5%);
$link-color: lighten($navbar-default-bg, 5%);
$nav-pills-active-link-hover-bg: $navbar-default-bg;

 // import original bootstrap
@import "twitter/bootstrap";


// site wide stuff
html {
  background-color: #eee;
}
body {
  padding-top: 54px;
}
h1, h2, h3 {
  margin-top: 10px;
}
footer {
  margin-top: 40px;
  padding: 20px;
  background-color: #eee;
}
.btn-dark {
  $btn-dark-color: #999;
  $btn-dark-border-color: darken(adjust_hue($btn-dark-color, -10), 12%);
  color: white;
  background-color: $btn-dark-color;
  border-color: $btn-dark-border-color;
  &:hover {
    color: white;
    background-color: darken($btn-dark-color, 8%);
    border-color: darken($btn-dark-border-color, 8%);
  }
}
.btn-tag {
  margin: 5px;
  $btn-tag-color: #fff;
  $btn-tag-border-color: darken(adjust_hue($btn-tag-color, -10), 12%);
  color: black;
  background-color: $btn-tag-color;
  border-color: $btn-tag-border-color;
  &:hover {
    color: white;
    background-color: lighten($navbar-default-bg, 6%);
    border-color: $navbar-default-bg;
  }
}
.recipe-title {
  color: darken($link-color, 13%);
}
.nav > li > a {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}


// alerts and errors
.alert {
  padding: 10px;
  margin-bottom: 0px;
}
#error-explanation {
  padding: 8px 12px;
  margin-bottom: 5px;
  ul {
    padding-left: 25px;
  }
}


// navbar
.navbar-brand {
  $navbar-brand-text-size: 24px;
  $navbar-brand-padding: ($navbar-height - $navbar-brand-text-size) / 2;
  font-size: $navbar-brand-text-size;
  line-height: 100%;
  padding-top: $navbar-brand-padding;
  padding-bottom: $navbar-brand-padding;
}
.navbar-text {
  .navbar-btn {
    $navbar-signin-btn-color: darken($navbar-default-bg, 5%);
    $navbar-signin-btn-border-color: darken(adjust_hue($navbar-signin-btn-color, -10), 3%);
    
    background-color: $navbar-signin-btn-color;
    border: 1px solid $navbar-signin-btn-border-color;

    padding: 7px 11px;
    margin: 1px 1px 1px 11px;
    &:hover {
      background-color: darken($navbar-signin-btn-color, 5%);
      border: 1px solid darken($navbar-signin-btn-border-color, 5%);
      text-decoration: none;

      padding: 8px 12px;
      margin: 0px 0px 0px 10px;
    }
  }
}


// extra small well
.well-xs {
  border-radius: 3px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 6px;
  padding-right: 6px;
}


// styling for forms
.devise-form {
  .btn {
    margin-bottom: 20px;
  }
  .devise-options {
    border-top: 2px solid #ddd;
    padding-top: 20px;
  }
}
.form-group {
  .help-block {
    margin-top: 2px;
    margin-left: 4px;
    font-size: .8em;
  }
  //margin-bottom: 5px;
}


// styling for partial (ex. recent recipes on user profiles)
.item-list {
  .item {
    border-top: 1px solid #ddd;
    padding-top: 7px;
    padding-bottom: 7px;
    &:first-child {
      border-top: 0px;
      padding-top: 0px;
    }
    &:last-child {
      padding-bottom: 0px;
    }

    small {
      margin-left: 2px;
      color: #888;
    }

    .user-partial a {
      vertical-align: middle;
      margin-left: 5px;
      padding-left: 5px;
    }
  }
}

// button styling
.btn, .form-control, .navbar-btn, .panel, .alert {
  $default-border-radius: 2px;
  -webkit-border-radius: $default-border-radius;
  -moz-border-radius: $default-border-radius;
  border-radius: $default-border-radius;
}
