/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

// change navbar before import
$navbar-default-bg: #008732;
$navbar-default-color: #ccc;
$navbar-default-link-color: #fff;
$navbar-link-color: $navbar-default-color;
$navbar-default-brand-color: #fff;
$navbar-default-link-hover-color: #fff;
$navbar-default-brand-hover-color: $navbar-default-link-hover-color;
$navbar-height: 45px;


// change page elements before import
$btn-success-bg: $navbar-default-bg;
$link-color: lighten($navbar-default-bg, 5%);

 // import original bootstrap
@import "twitter/bootstrap";


body {
  padding-top: 60px;
}

footer {
  margin-top: 60px;
  padding: 20px;
  border-top: 1px solid #eee;
}

.navbar-brand {
  font-size: 22px;
}


// styling for devise forms
.devise-form {
  .btn {
    margin-bottom: 20px;
  }
  .devise-options {
    border-top: 2px solid #ddd;
    padding-top: 20px;
  }
}


// styling for devise partial (ex. recent recipes on user profiles)
.recipe-partial small {
  margin-left: 2px;
  color: #888;
}
