// Place all the styles related to the Recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#recipe {

  #header {
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 10px;
    #title h3 {
      margin-bottom: 0px;
    }
    #time {
      margin-top: 4px;
      color: #888;
    }
    #time, #source {
      font-size: .85em;
    }

    #forks, #stars {
      width: 50%;
      margin-top: 10px;
      padding-bottom: 5px;
      strong, div {
        display: block;
        text-align: center;
      }
      .btn {
        margin-top: 5px;
      }
    }
  }

  #tags {
    margin-bottom: 5px;
  }

  .form-group {
    margin-bottom: 5px;
  }

  #directions, #ingredients {
    > div {
      margin-bottom: 10px;
    }
    .content {
      padding: 4px 4px 4px 13px;
      border-left: 1px solid #ccc;
    }
  }
  #ingredients {
    .form-group, .form-group input {
      height: 28px;
    }
  }
  #directions {
    .form-group textarea {
      padding: 3px 13px;
    }
  }
}

#recipes, #recipe {
  margin-bottom: 25px;
  .table {
    margin-bottom: 2px;
  }
}
