<footer>
  <p class="text-center">
    <small>
      view the source on <%= link_to "github", "https://github.com/mtkp/recipehub" %>
      <br />
      created by <%= link_to "mtkp", "https://github.com/mtkp/recipehub" %>
    </small>
  </p>
</footer>